.d-header {
        box-shadow: 10px 10px 25px #000;
        /*border-bottom: 4.5px solid $tertiary;
	border-left: 4.5px solid $tertiary;
	border-right: 4.5px solid $tertiary;*/
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
        height: 4em;
	font-family: BLADRMF_;
	.d-icon {
		color: $secondary;
	}
}

body {
	background-image: linear-gradient(to middle, #000000, #434343);

}


tbody {
	background:#838383;
	border-top: none;
}

.full-width {
	box-shadow: 0px 0px 100px #000;
	border-radius: 13px;
	background-color:#838383;
	display: table;
}

 .row {
	border-top: none;
	border-bottom: none;
	display: table;
}

#list-area {
	border-radius: 15px;	
}

#create-topic {
	border-radius: 10px;
	background-color: #e90426;
}

.nav-pills>li>a {
	border-radius: 10px;
	color: #ffffff;
}

#ember39 {
	display: none;
}

.select-kit-body:hover {
	color: #e90426;
}

span.name {
	color: #ffffff;
}

.category-name {
	color: #ffffff;
}

#ember21>a:hover {
	color: #e90426;
}

