.d-header {
        box-shadow: 10px 10px 25px #000;
        /*border-bottom: 4.5px solid $tertiary;
	border-left: 4.5px solid $tertiary;
	border-right: 4.5px solid $tertiary;*/
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
        height: 4em;
	font-family: BLADRMF_;
	.d-icon {
		color: $secondary;
	}
}

body {
	background-color: #696969;
}


tbody {
	background:#838383;
	border-top: none;
}

.full-width {
	box-shadow: 0px 0px 100px #000;
	border-radius: 13px;
	margin: 5px;
	background-color:#838383;
	display: table;
}

 .row {
	border-top: none;
	border-bottom: none;
	display: table;
}

#list-area {
	border-radius: 15px;	
}

.clearfix::before, .nav-pills::before, .container::before, .wrap::before, .clearfix::after, .nav-pills::after, .container::after, .wrap::after {
    display: table;
    content: " ";
}

