

.d-header {
        box-shadow: 0px 0px 30px #000;
        /*border-bottom: 4.5px solid $tertiary;
	border-left: 4.5px solid $tertiary;
	border-right: 4.5px solid $tertiary;*/
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
        height: 4em;
	font-family: BLADRMF_;
	.d-icon {
		color: $secondary;
	}
}

body {
	background: url('https://github.com/kyleamielke/RRLive/raw/main/assets/background%20image.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}


tbody {
	background: url('https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/themecreator/original/2X/8/89d209422c9bd153eac049ed32239bdaf3dda47d.png');
        background-size: cover;
	border-top: none;
        color: #ffffff;
}

.full-width {
	box-shadow: 0px 0px 80px #000;
	border-radius: 13px;
	width: 100%;
	display: table;
	margin: 5px;
	color: #ffffff;
}

.discourse-no-touch {
	.sortable:hover {
		background-color: #e90426;
	}
}

.row {
	border-top: none;
	border-bottom: none;
}

table th {
	color: #ffffff;
}

#list-area {
	border-radius: 15px;
}

#create-topic {
	border-radius: 10px;
	background-color: #e90426;
	margin-top: 20px;
	margin-right: 15px;
}

.nav-pills>li>a {
	border-radius: 10px;
	color: #ffffff;
	margin-top: 20px;
}



#ember39 {
	display: none;
}

.list-controls {
	background: url('https://discourse-cloud-file-uploads.s3.dualstack.us-west-2.amazonaws.com/themecreator/original/2X/b/b531596e8c20cfa2a2bfbb0a6a42655be52c80a5.jpeg');
	background-size: contain;
	box-shadow: inset 0px 0px 40px 0px #000;
	border-radius: 25px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width: 75%;	
	height: 70px;
	.combo-box .combo-box-header {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 20px;
		background: #e90426;
		color: #000000;
		border-radius: 10px;
		display: none;
	}
}

span.name {
	color: #ffffff;
}

.category-name {
	color: #e90426;
}

#ember21>a:hover {
	color: #e90426;
}

#list-area {
	width: 100%;
}

.select-kit.single-select {
	.select-kit-filter {
		.filter-input {
			color: #ffffff;
		}
		&.is-expanded {
		background-color: #636363;
		color: #ffffff;
		}
	}
}

.select.kit.combo-box.category-drop {
	.select-kit-row {
		background-color: #e90426;
	}
}

element.style {
	background-color: #e90426;
}

#ember155:hover {
	color: #e90426;
}

.select-kit {
	.select-kit-row.is-highlighted {
		
			background-color: #e90426;
		
	}
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
        color: #ffffff;
}
